.WeatherInfo h1 {
  font-size: 40px;
}
.WeatherInfo {
  padding-top: 10px;
}
ul {
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px !important;
}
li {
  margin: 7px 0px;
}
a {
  color: rgb(207, 207, 207);
}
.App {
  background-color: black;
  color: white;
  padding: 10px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
}
.App-header {
  max-width: 500px;
  padding: 10px;
  margin: auto;
}
.search-city {
  margin-bottom: 5px;
}
.btn {
  background: rgb(78, 78, 78);
  color: white;
  border: none;
}
.btn:hover {
  background: #444444;
}
.date {
  font-size: 14px;
  opacity: 0.7;
  text-align: right;
}
.sunrise {
  font-size: 14px;
  text-align: right;
}

.weather-details {
  color: #b1b1b1;
  font-size: 16px;
}

.next-five-days {
  padding-bottom: 10px;
  opacity: 0.7;
}
.next-week {
  margin: 0;
}
.days {
  border: none;
  border-radius: 4%;
  text-align: center;
  padding: 5px 0px;
  font-weight: 200;
  color: #969494;
}
.days .max {
  color: rgb(207, 207, 207);
}
.days .min {
  font-weight: light;
}
.current-temperature {
  font-size: 65px;
  line-height: 60px;
}
.weather-description {
  font-size: 24px;
}
.unit {
  font-size: 24px;
}
.unit:hover {
  cursor: pointer;
}

.celsius,
.fahrenheit {
  position: relative;
  display: inline-block;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  text-align: right;
}
